.CodeMirror-fullscreen {                                                       
        display: block;                                                            
        position: absolute;                                                        
        top: 0; left: 0;                                                           
        width: 100%;                                                               
        z-index: 100;                                                              
}                                                                              
#queryDragger {                                                                
        height: 14px;                                                              
        z-index:12;                                                                
        position: relative;                                                        
        top: -7px;                                                                 
        cursor: row-resize;                                                        
}                                                                              
.mainPanel { margin-left:2.127659574% }                                        
#queryTextarea{height:300px; width:100%;font-size:14px;}                       
.CodeMirror {background: #fff ; font-size:14px; border:1px solid #6DA5DB;}  
.CodeMirror-scroll{height:300px;}                                              
.editorHeader {display:inline-block; width:100% }                              
.createViewBtn { margin: 0 0 7px 612px; }                                      
.createViewPanel{width: 704px; }                                               
form.createFactTableForm {margin:0 auto; width:950px;}                         
.form-horizontal .control-label{width:80px} 
