.dataTable td {                                                                
        padding: 10px !important;                                                  
        font-size: 14px;                                                           
}                                                                              
span.leftturn {                                                                
        background-image: url(/res/lib/jquery/ui/datepicker/css/images/ui-icons_222222_256x240.png);
        background-position: -80px -192px;                                         
        background-repeat: no-repeat;                                              
        display: inline-block;                                                     
        line-height: 15px;                                                         
        cursor: pointer;                                                           
        width: 15px;                                                               
}                                                                              
#baseTime {                                                                    
        margin-bottom: 0;                                                          
        background-color: #fff;                                                    
        cursor: pointer;                                                           
}                                                                              
span.rightturn {                                                               
        background-image: url(/res/lib/jquery/ui/datepicker/css/images/ui-icons_222222_256x240.png);
        background-position: -48px -192px;                                         
        background-repeat: no-repeat;                                              
        display: inline-block;                                                     
        line-height: 15px;                                                         
        cursor: pointer;                                                           
        width: 15px;                                                               
}                                                                              
.dataTables_empty {                                                            
        display: none;                                                             
} 
