.fastLinkPanel{
    display:inline-block; 
    float: right;
    height:19px;
}                

.fastLinkPanel > a.btn-mini {                                                 
    padding: 3px 5px;                                                         
    overflow: auto;                                                           
    position: relative;                                                       
    top: -2px;                                                                
}

.dataTable td{
    padding:10px !important; 
    font-size:14px;
} 

.dataTable a{
    font-weight:bold;
}   
                                                                                                                                                             
.boxtitleNotSelect {                                                           
    background: none repeat scroll 0 0 #fff;                                   
    color: #6DA5DB;                                                            
    font-family: "Microsoft Yahei","»ªÎÄºÚÌå","Arail","Helvetica","sans-serif";
    font-size: 16px;                                                           
    font-weight: bold;                                                         
    height: 20px;                                                              
    padding: 4px 30px;                                                         
    margin-left: 5px;                                                          
}                                                                              

.pl {                                                                          
        margin-left:56px;                                                          
}                                                                              

form#advancedSearchForm {                                                      
        margin:0;                                                                  
}                                                                              

.controls{                                                                     
        display:inline-block;                                                      
}                                                                              

div.button-group input.btn {                                                   
     margin-left:15px;                                                           
}                                                                              

.button-group{                                                                 
        margin-bottom:9px;                                                         
        display:inline-block;                                                      
}                                                                              

.control-label{                                                                
        width:79px;                                                                
}                                                                              

.control-group{                                                                
        margin-bottom:9px;                                                         
        margin-right:17px;                                                         
        display:inline-block;                                                      
}
